.col_left,
.col_right {
  height: 740px;
}

.col_left {
  border-radius: 20px 0px 0px 20px;
  background: url('../../../media/signup_and_login/father-and-son.png') no-repeat center bottom;
  background-size: 50%;
  background-color: var(--main-lightBlue);
}

.col_right {
  padding: 135px 40px;
  border-radius: 0px 20px 20px 0px;
  background-color: var(--main-sand);
}

.col_right_content {
  margin: 0 auto;
  max-width: 422px;
}
