.page {
  max-width: 100%;
  /* if we apply this the screen will not be full size as full size in height in 100dvh  */
  /* height: 110dvh;  */
  height: 100dvh; 
  background-color: var(--color-bg-page);
}

.page__window {
  /* if we apply this the screen will not be full size as full size in height in 100dvh  */
  /* max-width: 910px;
  height: 840px;   */
  width: 820px;
  max-width: 100%;
  height: 750px; 
  border-radius: 16px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.page__title {
  padding-top: 50px;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--color-fg-primary);
}

.label {
  font-family: Roboto;
  font-weight: 600;
  font-size: 16px;
  line-height: 15.36px;
  letter-spacing: 2%;
  color: #081821;
}

.optionalText {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 15.36px;
  letter-spacing: 0.02em;
  text-align: left;
}

.signUpText {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: aliceblue;
}

.orDivider {
  margin-top: 24px;
  text-align: center;
  margin: 20px 0;
}

.dashLine {
  position: relative;
  color: var(--color-gray-dark);
}

.dashLine:before,
.dashLine:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 200px;
  height: 1px;
  background-color: var(--color-gray-dark);
}

.dashLine:before {
  left: -220px;
}

.dashLine:after {
  right: -220px;
}

.orText {
  width: 24px;
  height: 22px;
  top: -1px;
  left: 209px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22.4px;
  text-align: center;
  color: var(--color-gray-dark);
}

.alreadyMember {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

.loginLink {
  color: var(--color-accent-orange);
  font-size: 18px;
  width: 400;
  padding-left: 5px;
}

.loginLink:hover,
.loginLink:active {
  color: var(--color-dark-orange);
}

input:focus::placeholder {
  color: transparent;
}

.signUpButton {
  width: 62px;
  height: 25px;
  margin-top: 24px;
}

.customButton {
  margin-top: 24px;
  width: 442px;
  height: 56px;
  font-weight: 800;
  font-size: 18px;
  line-height: 25.2px;
  color: #fcfcfc;
}

.socialButton {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 16px;
    width: 100%;
}