.page {
  font-family: Roboto, sans-serif;
  max-width: 100%;
  height: 110dvh;
  background-color: var(--color-bg-page);
  display: flex;
  flex-direction: column;
}

.page-window {
  width: 56.875rem;
  /* height: 52.5rem; */
  border-radius: 1rem;
  padding: 0;
  background-color: var(--main-white);
  color: var(--color-fg-light);
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 8.375rem;
  padding-bottom: 10.563rem;
}

.page-wrapper {
  width: 29.375rem;
  /* height: 33.563rem; */
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-weight: 700;
  line-height: 2.4rem;
  text-align: center;
}
.loading-logo {
  width: 6.25rem;
  height: 6.25rem;
  flex-direction: column;
  align-items: center;
  margin: 4rem 0rem 3rem;
}

.subtitle {
  font-weight: 700;
  margin: 0;
  text-align: center;
}

.description {
  font-size: 1.125rem;
  line-height: 1.35rem;
  margin: 4rem 0 1.475rem 0;
  text-align: center;
  letter-spacing: -0.009rem;
}
.text {
  font-size: 1.125rem;
  line-height: 1.35rem;
  margin: 0 0 4rem 0;
  text-align: center;
}

.nav-button {
  display: block;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.575rem;
  text-align: center;
  color: var(--color-orange);
  background: transparent;
  border: none;
}
.nav-button:hover {
  background-color: transparent;
  color: var(--color-dark-orange);
}

.nav-button:disabled {
  background-color: transparent;
  color: var(--color-dark-orange);
  cursor: not-allowed;
  opacity: 0.2;
}

.resend-status {
  font-size: 1.125rem;
  line-height: 1.35rem;
  text-align: center;
  font-weight: 700;
}

@media (max-width: 768px) {
  .page-window {
    width: 100%;
    height: 100dvh;
  }

  .page-wrapper {
    width: 90%;
  }
}
