/* =======================================
  PRIMARY BUTTONS
   ======================================= */

.primary__light_s {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  width: 184px;
  height: 48px;

  background: #eb7005;
  /* Orange Shadow/100 */
  box-shadow: 0px 1px 3px rgba(121, 75, 35, 0.1),
    0px 1px 2px rgba(121, 75, 35, 0.06);
  border-radius: 8px;
}

.primary__light_s:hover {
  background: #db5c00;
  /* Orange Shadow/300 */
  box-shadow: 0px 6px 10px -1px rgba(121, 75, 35, 0.1),
    0px 2px 4px -1px rgba(121, 75, 35, 0.06);
}

.primary__light_s:active {
  background: #db5c00;
  box-shadow: inset 0px 2px 4px rgba(120, 38, 3, 0.4);
}

.primary__light_s:focus {
  background: #db5c00;
  border: 4px solid #962f03;
}

.primary__light_s:disabled {
  background: #f6bd8f;
  opacity: 0.8;
}

/* =======================================
  SECONDARY BUTTONS
   ======================================= */
.secondary__light_s{
box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 184px;
height: 48px;

border: 2px solid #DB5C00;
border-radius: 8px;
}

.secondary__light_s:active{
  border: 3px solid #C24400;
}

.secondary__light_s:hover{
  border: 2px solid #C24400;
}

.secondary__light_s:focus{
  background: #FDF1E6;
  border: 4px solid #C24400;
}

.secondary__light_s:disabled{
  border: 2px solid #F29D58;
}

/* =======================================
  DANGER BUTTONS
   ======================================= */
.danger__light_s{
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  
  width: 184px;
  height: 48px;
  
  border: 2px solid #EC2F16;
  border-radius: 8px;
}

.danger__light_s:active{
  background: #A12312;
}

.danger__light_s:hover{
  background: #EC2F16;
}

.danger__light_s:focus{
  background: #FFDCD7;
  border: 4px solid #EC2F16;
}

.danger__light_s:disabled{
  opacity: 0.8;
  border: 2px solid #FF7B72;
}

/* =======================================
  INVISIBLE BUTTONS
   ======================================= */
.invisible__light_s{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  
  width: 184px;
  height: 48px;
  
  border-radius: 8px;
}

.invisible__light_s:active{

}

.invisible__light_s:hover{

}

.invisible__light_s:focus{
  border: 4px solid #C24400;
}

.invisible__light_s:disabled{
  opacity: 0.8;
}

/* =======================================
  DARK PRIMARY BUTTONS
   ======================================= */
.primary__dark_s{
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 184px;
height: 48px;

background: #E1660E;
/* Orange Shadow/100 */
box-shadow: 0px 1px 3px rgba(121, 75, 35, 0.1), 0px 1px 2px rgba(121, 75, 35, 0.06);
border-radius: 8px;

}

.primary__dark_s:active{
  background: #E1660E;
  box-shadow: inset 0px 2px 4px rgba(120, 38, 3, 0.4);
}

.primary__dark_s:hover{
  background: #E7883F;
  /* Orange Shadow/300 */
  box-shadow: 0px 6px 10px -1px rgba(121, 75, 35, 0.1), 0px 2px 4px -1px rgba(121, 75, 35, 0.06);
}

.primary__dark_s:focus{
  background: #E1660E;
  border: 4px solid #F9D3B2;
}

.primary__dark_s:disabled{
  background: #F6BC8C;
}

/* =======================================
  DARK SECONDARY BUTTONS
   ======================================= */
.secondary__dark_s{
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  
  width: 184px;
  height: 48px;
  
  border: 2px solid #E7883F;
  border-radius: 8px;
}

.secondary__dark_s:active{
  border: 3px solid #E1660E;
}

.secondary__dark_s:hover{
  border: 2px solid #ED9D5C;
}

.secondary__dark_s:focus{
  background: #FDF1E6;
  border: 4px solid #B6420C;
}

.secondary__dark_s:disabled{
  opacity: 0.8;
  border: 2px solid #F9D3B2;
}