.primary__light_text {
  margin: 0 0 !important;
  /* Auto layout */
  padding: 0px 8px;
  gap: 8px;

  height: 24px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;

  /* H 4/Desktop/Bold */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;

  color: #ffffff;
}

.secondary__light_text {
margin: 0 0 !important;
/* Auto layout */
padding: 0px 8px;
gap: 8px;

height: 24px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* H 4/Desktop/Bold */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 120%;
/* identical to box height, or 24px */
display: flex;
align-items: center;
text-align: center;

color: #DB5C00;
}