.picture {
  width: 451px;
  height: 304px;
}

.page-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FCFCFC;
  border-radius: 16px;
  flex: 1;
  box-sizing: inherit;
  height: calc(100vh - 11rem);

}

.text {
  width: 662px;
  height: 22px;
  font-family: var(--fontfamily);
  font-size: x-large;
  font-weight: 400;
  line-height: 21.6px;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 5%;
}

.add-kid-button {
  box-sizing: border-box;
  background-color: #ffffff;
  width: 288px;
  height: 56px;
  color: var(--main-orange);
  border: 2px solid #DB5C00;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
}

/* Button hover style */
.add-kid-button:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  /* Darker shadow on hover */

}

.add-kid-button:hover img {
  filter: saturate(60%);
}

/*.frame-kids-info {
   Auto layout 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 80px;

  width: 1200px;
  height: 894px;

  background: #FCFCFC;
  border-radius: 16px;

  /* Inside auto layout */
  /*flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
}*/