@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
.page {
  width: 1440px;
  height: 1024px;
  top: 324px;
  left: 17712px;
  gap: 0px;
  opacity: 0px;
  background: #F0F2F2;
}
.emailverifiedpage{
  
  Width:910px;
  Height:840px;
  background: #FFFFFF; 
  border-radius: 16px 0px 0px 0px;
  position: absolute;
top:159.63px;
left:221px;
align-content: center;

/*width: 910px;
height: 840px;
left: 265px;
top: 92px;
background: #FFFFFF;
border-radius: 16px 0px 0px 0px;*/

}
.emailverifiedoutercontainer{
  width:468px;
height: 365px;
gap: 64px;
opacity: 0px; 
}
.emailverifiedinnercontainer{
 width:468px;
height: 279px;
gap: 64px;
opacity: 0px;
/*margin-top:200px;*/

}

.email-verified {
  width: 910px;
  height: 840px;
  position: absolute; 
  
  top: 92px;
  left: 265px;
  padding: 159.63px 221px 195.38px 221px;
  border-radius: 16px 0px 0px 0px;
  opacity: 1; 
  background: #FFFFFF; 
  text-align: center;
  }



.registerTitle {
  /* width: 193px; */
   height: 38px;
  font-style: normal;
   
  font-family: 'Roboto';
 /* font-size: 32px;*/
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.01em;
  align-items: center;
  text-align: center;
  color: #1D1F20;
 /* display: flex;
  flex: none;
order: 0;
flex-grow: 0;*/
}


.text p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  margin-bottom: 0;
  line-height: 21px;
}
.nextMessage {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: center;
  color: #1D1F20;
  
  padding: 12px;
  margin-top: 20px; 
}
.buttoncontainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.customButton {
  margin-top: 24px;
  width: 288px;
  height: 56px;
  background-color: #eb7005;
  font-family: Roboto;
  font-weight: 800;
  font-size: 18px;
  line-height: 25.2px;
  text-align: center;
  color: #fcfcfc;
}

.customLink {
  display: inline-block;
  width: 131px;
  height: 25px;
  font-weight: 500;
  font-size: 18px;
  line-height: 25.2px;
  color: #EB7005;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

.customLink:hover {
  text-decoration: underline;
}

.customButton:hover,
.customButton:active,
.customButton:focus-visible,
.customButton:focus {
  color: #eb7005 !important;
}

.somethingWentWrongTitle {
  width: 333px;
  height: 38px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 38.4px;
  letter-spacing: -1%;
  text-align: center;
  color: #1D1F20;
}
.displaymessage {
  width: 468px;
  height: 177px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 24px;
 /* line-height: 28.8px;*/
 line-height: 120%;
  text-align: center;
  color: #1D1F20;
}

.signUpAgainMessage ,.checkemail{
  width: 496px;
  height: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  text-align: center;
  color: #1D1F20;
}
