/*------ Dropdown ----*/
.dropdown {
  background-color: #fff;
}

.edit-avatar-overlay {
  position: relative;
}

/* ------- Positioning of the dropdown ---------*/
.dropdownMenu {
  position: absolute;
  top: 100%; 
  left: 50%; 
  transform: translateX(-50%); 
  z-index: 1000;
  margin-top: 28px; 
  margin-left: -55px; 
  background-color: #fff;
  color: rgba(29, 31, 32, 1); 
  box-shadow: 
    0px -2px 5px rgba(0, 0, 0, 0.05),  
    2px 2px 10px rgba(0, 0, 0, 0.15),   
    -2px 2px 10px rgba(0, 0, 0, 0.15);   
  border-radius: 16px;
  border-color: white;
  padding: 1em 0;
}

.dropdownMenu::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: -10px;
  left: 50%;
  margin-left: -10px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent white transparent;
}

.dropdownItem {
  padding: 0.4em 2.3em; 
  cursor: pointer;
  font-size: 14px;  
}

/* --------- Active state for dropdown items ----------*/
.dropdownItem.active,
.dropdownItem:active,
.dropdownItem:hover {
  background-color: rgba(253, 241, 230, 1)!important; 
  color: rgba(29, 31, 32, 1) !important; 
  font-weight: 500;
}
