/* ======================================
          KID FORM
   ====================================== */

.avatar-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.edit-avatar-overlay {
  position: relative;
  top: 50px;
  left: 160px;
  border: 4px rgba(252, 252, 252, 1) solid;
  background: rgba(207, 182, 239, 1); 
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.kid-form-input {
  padding-bottom: 16px;
}

.kid-form-label,
.kid-details-row {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 19.2px;
}

/* ======================================
          CHECKBOX & CHECKMARK
   ====================================== */

.checkbox-container {
  display: flex;
  align-items: center;
  margin: 16px 0 16px 9px;
  padding: 0;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 8px;
}

.checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(246, 188, 140, 1);
  border-radius: 4px;
  background-color: rgba(252, 252, 252, 1);
  position: relative;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  pointer-events: none;
}

 /*Modal*/

.modal.custom-modal .modal-content {
  height: 100% !important;
}

.custom-modal {
  width: 600px !important;
  height: 160px !important;
}

.cancel-button {
  border: 2px solid #EB7005 !important;
  background-color: transparent !important;
  color: #EB7005 !important;
}


/*Modal Body*/
.modalBody {
  font-family: 'Roboto', sans-serif; 
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: center; 
  padding: 20px; 
}

/*---button- Modal----*/

.buttonContainer {
  display: flex;
  gap: 16px; 
}

.cancelButton {
  width: 120px;
  height: 48px;
  border: 2px solid #EB7005;
  background-color: transparent;
  color: #EB7005;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-right: 10px; 
}

.cancelButton:hover {
  background-color: #EB7005;
  color: #FCFCFC;
}

.deleteButton {
  width: 120px;
  height: 48px;
  background-color: #EB7005;
  color: #FCFCFC;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.deleteButton:hover {
  background-color: #FCFCFC;
  color: #EB7005;
}


