.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100% !important;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-container {
  width: 56.875rem !important;
  padding: 2.5rem;
  border-radius: 1rem;
  position: relative;
  background: var(--color-bg-light);
  z-index: 101;
  color: var(--color-fg-light);
  font-family: Roboto, sans-serif;
}
.modal-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 0rem;
}
.modal-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
  gap: 1.5rem;
}
.modal-message {
  font-size: 1.125rem;
  line-height: 1.35rem;
  font-weight: 600;
  text-align: center;
  padding-top: 4.75rem;
  padding-bottom: 1.5rem;
}
.modal-message-button {
  margin-bottom: 4.75rem;
}
.modal-close-button {
  background: none;
  border: none;
  padding: 0;
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  user-select: none;
  cursor: pointer;
}
.modal-close-button:hover {
  transform: scale(1.2);
}

/* Text */
.modal-title {
  font-weight: 700;
  line-height: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.modal-subtitle {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4rem;
  margin-bottom: 2.5rem;
  text-align: center;
}