.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.container {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 442px;
  height: 456px;
  padding: 0px;
}

.title {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
}

.description {
  text-align: center;
  margin: 48px 0px 40px 0px;
}

.label {
  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 15.36px;
  letter-spacing: 2%;
  color: var(--color-fg-primary);
}