.title {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 38.4px;
  letter-spacing: -1%;
}

.text {
  text-align: center;
  font-size: 18px;
  margin: 48px auto 40px;
}

.success {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5.7em;
}

.success img {
  width: 81.24px;
  height: 100%;
  flex-direction: column;
  align-items: center;
}
.success span:nth-of-type(1) {
  font-size: 1.375rem;
  line-height: 21px;
  margin: 1.1em auto;
  font-weight: bold;
}

.success span:nth-of-type(2) {
  text-align: center;
}

label {
  font-weight: bold !important;
}

.forget-password,
.resend-email {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  color: rgba(240, 131, 36, 1);
  font-size: 1.125rem;
}

.forget-password:hover {
  text-decoration: underline;
  color: #eb7005;
}
.resend-email {
  margin-top: 3em;
}

.customButton {
  margin: 56px 0px 48px !important;
  width: 442px;
  height: 56px;
  background-color: #eb7005;
  font-family: Roboto;
  font-weight: 800;
  font-size: 18px;
  line-height: 25.2px;
  text-align: center;
  color: #fcfcfc;
}

.customButton:hover,
.customButton:active,
.customButton:focus-visible,
.customButton:focus {
  color: #eb7005 !important;
}
