.page {
  max-width: 100%;
  height: 100dvh;
  background-color: var(--color-bg-page);
}

.page__window {
  width: 56.875rem;
  max-width: 100%;
  border-radius: 1rem;
  padding: 0;
  /* padding-top: 167px 221px 202px; */
  background-color: var(--main-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.page__wrapper {
  width: 27.625rem;
  margin: auto;
  padding: 0;
  margin: 12rem auto;
  /* margin-bottom: 202px; */
}

.page__title {
  font-weight: 700;
  text-align: center;
}

.page__text {
  text-align: center;
  font-size: 1.125rem;
  padding-bottom: 2.5rem;
  padding-top: 3rem;
}

label {
  font-size: 1rem; /*16px*/
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.02rem;
  color: var(--color-fg-light);
  padding: 0;
  margin: 0;
  margin-bottom: 0.6rem;
}

.page__customButton {
  margin-top: 3.5rem;
  margin-bottom: 3rem;
  display: inline-block;
  width: 100%;
  padding: 1rem 0;
  font-size: 1.25rem; /*20px*/
  line-height: 120%;
  letter-spacing: 0rem;
  font-weight: 700;
  text-align: center;
}

.page__link {
  display: block;
}

/* if success block */
.success {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 64px auto;
  padding-top: 17px;
}

.success__icon {
  width: 88px;
  height: 100%;
  padding: 17px 4px 8px 8px;
  justify-content: center;
  margin-bottom: 48px;
}
/* .success span:nth-of-type(1) {
  font-size: 1.375rem;
  line-height: 21px;
  margin: 1.1em auto;
  font-weight: bold;
} */

.success__text {
  font-size: 18px;
  line-height: 120%;
  font-weight: 400;
  text-align: center;
}

.forget__password,
.resend__email {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--color-orange);
  font-size: 18px;
  font-weight: 500;
  text-decoration: underline;
}

.resend__email {
  margin-top: 3em;
}

.resend__email,
.forget__password:hover {
  color: var(--color-dark-orange);
}
